	  <div class="container-fluid">
	  	<div class="page-section m-100">
	  			<div class="w-20 plr-50">
	  				<div class="profile-image">
	  				   <img src="assets/images/default-user.png" width="100%" />	
	  				</div>
	  		  		<div class="text-center">
	  		  			<h3>{{currentUser.firstName + ' ' +currentUser.lastName}}</h3>
	  		  			<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p> -->
	  		  		</div>
	  			</div>
	  		  <div class="w-80 plr-50 edit-profile">
	  		  	<div class="input-cover">
	  		  		<div class="text-left">
	  		  			<h2>Edit Profile</h2>
	  		  		</div>
	  		  		<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
	  		  			<div class="row">
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
	  		  			         <div class="input-wrapper guest-detail float-label">
	  		  			         	<input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
	  		  			            <label for="name" class="floating-label">First Name</label>
	  		  			            <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
	  								    <div *ngIf="f['firstName'].errors['required']">First Name is required</div>
	  								</div>
	  		  			         </div>
	  		  			      </div>
			  		  		</div>
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
	  		  			         <div class="input-wrapper guest-detail float-label">
	  		  			            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
	  		  			            <label for="name" class="floating-label">Last Name</label>
	  		  			            <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
	  		  			                <div *ngIf="f['lastName'].errors['required']">Last Name is required</div>
	  		  			            </div>
	  		  			         </div>
	  		  			      </div>
			  		  		</div>
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
	  		  			         <div class="input-wrapper guest-detail float-label">
	  		  			            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
	  		  			            <label for="password6" class="floating-label">Email</label>
	  		  			            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
	  		  			            	<div *ngIf="f['email'].errors['required']">Email is required</div>
	  		  			            	<div *ngIf="f['email'].errors['pattern']">Enter a valid email id</div>
	  		  			            </div>
	  		  			         </div>
	  		  			      </div>
			  		  		</div>
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
	  		  			         <div class="input-wrapper guest-detail float-label">
	  		  			            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
	  		  			            <label for="password6" class="floating-label">Password</label>
	  		  			            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
	  		  			            	<div *ngIf="f['password'].errors['required']">Password is required</div>
	  		  			            	<div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
	  		  			            	<div *ngIf="f['password'].errors['pattern']">Password must have one upercase & lowercase character, must include one of this character !,@,#,$,%,^,& </div>
	  		  			            </div>
	  		  			         </div>
	  		  			      </div>
			  		  		</div>
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
	  		  			         <div class="input-wrapper guest-detail float-label">
	  		  			            <input type="text" formControlName="phone" [mask]="'(000) 000 0000'" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
	  		  			            <label for="password6" class="floating-label">Phone</label>
	  		  			            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
	  		  			            	<div *ngIf="f['phone'].errors['required']">Mobile number is required</div>
	  		  			            </div>
	  		  			         </div>
	  		  			      </div>
			  		  		</div>
			  		  		<div class="col-lg-6">
			  		  			<div class="form-group basic">
			  		  				<button type="submit" [disabled]="loading" class="btn-submit btn-submit2 btn w-100 rounded bt-bg-gold btn-block btn-lg mr-0 ml-0 text-upper font-14 lt-spc2 ft-wt-700 btn-ht60 box-shadowg">
			  		  				    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-05"></span>
			  		  				    Update
			  		  				</button>
			  		  		    </div>
			  		  	    </div>
			  		  	</div>
	  		  		</form>
	  		  	</div>
	  		  </div>
	  	</div>
	  </div>